---
layout: default
title: Home
---

<!doctype html>
<html lang="en">
<head>

    <title>Volarre || We Make Mentorship Meaningful</title>

    <!-- // Site Info
    ====================================

    Version:  {{ site.version }}

    Launch:     
    Updated:    

    Author:   {{ site.seo.author }}

    Notes:    Congratulations! You are a nerd like us!

    Git:      http://www.github.com/{{ site.social.github }}

    ====================================
    // -->

    <!-- Primary Metadata  -->
    <meta charset="utf-8">
    <meta name="description" content="{% if page.description == null %}{{ site.seo.description }}{% else %}{{ page.description }}{% endif %}"/>
    <meta name="keywords" content="{{ site.seo.tags }}, {{ page.tags }}"/>
    <meta name="author" content="{% if post %}{{ post.author }}{% else %}{{ site.seo.author }}{% endif %}"/>
    <meta name='viewport' content='width=device-width, initial-scale=1.5'>
    <meta name="google-site-verification" content="{{ site.google.verification }}"/>


    <!-- Robots & Favicons  -->
    <link rel="shortcut icon" type="image/png" href="{{ site.url }}/assets/img/favicon.png" />
    <meta name="robots" content="index, follow"/>

    <!-- CSS and Fonts  -->
    <link rel="stylesheet" media="screen" href="assets/css/style.css">

    <!-- Javascripts  -->
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="assets/js/jquery.scrollTo.js"></script>
    <script src="assets/js/jquery.superslides.min.js"></script>
    <script src="assets/js/main.js"></script>

</head>
<body>
    <nav role="navigation">
        <ul id="nav-bar">
            <li id="logo"><a href="/" title="Homepage of {{ site.name }}" target="_self"><img src="assets/img/logos/logo-volarre.png" /></a></li>
            <li id="show-menu" class="mobile"><a href="#push-menu"><i class="icon-menu"></i><i class="icon-cross"></i></a></li>
        </ul>
        <ul id="menu">
            <li><a href="#about">About</a></li>
            <li><a href="#approach">Approach</a></li>
            <li><a href="#team">Team</a></li>
            <li class="highlight"><a href="#contact">Beta Sign Up</a></li>
        </ul>
    </nav>    


        <section id="hero">
            <!-- <img class="logo_large" src="assets/img/logos/logo-volarre.png" /> -->
            <div class="table">                    
                <div class="inner">
                    <article class="grid">
                        <div class="columns large-12">                
                            <h1>Make Mentoring Meaningful</h1>
                            <h3><em>Volarre</em> is a service and online platform that provides measurable, scalable and impactful mentoring</h3>
                            <button><a href="#services" class="bkgd-red">Learn More</a></button>
                        </div>
                    </article>
                </div>
            </div>
        </section>


    <main id="containter">
        <section id="services">
            <article class="grid">
                <div class="columns large-12">
                    <h2 class="align-center">Volarre Value</h2>
                    <div class="service-container">
                        <div class="service-item">
                            <div class="service-image"><img src="{{ site.assets.icons }}search.png" /></div>
                            <div class="service-desc left-side">
                                <h2>Protégé Driven Matching</h2>
                                <p>Mentors are curated for the protégé based on profile data, peer and supervisor suggestions. The protégé selects a mentor and begins a relationship directly related to their learning need.</p>
                            </div>
                        </div>
                    </div>
                    <div class="service-container">
                        <div class="service-item">
                            <div class="service-image"><img src="{{ site.assets.icons }}tactics.png" /></div>
                            <div class="service-desc right-side">
                                <h2>Automated Relationship Framework</h2>
                                <p>Based on industry-leading processes, the Volarre mentoring framework makes it easy to build and sustain an impactful mentoring relationship.</p>
                                <p>Clarifying timelines, expectations, and goal-setting are all automated and faciliated with guidance at each stage of the mentoring relationship. </p>       
                            </div>        
                        </div>  
                    </div>
                    <div class="service-container">
                        <div class="service-item">
                            <div class="service-image"><img src="{{ site.assets.icons }}speed.png" /></div>
                            <div class="service-desc left-side">
                                <h2>Measurable Impact</h2>
                                <p>Visualize the impact of your mentoring program at a glance. Live analytics help you support and actively grow your mentoring program by seeing where help is needed.</p>
                            </div>
                        </div>
                    </div>
                    <div class="service-container">
                        <div class="service-item">
                            <div class="service-image"><img src="{{ site.assets.icons }}box.png" /></div>
                            <div class="service-desc right-side">
                                <h2>Mentorship as a Service</h2>
                                <p>Volarre includes a personal network manager to that will support your network's growth and impact.</p>
                                <p>Beyond a software platform, Volarre provides mentoring as a service for your organization. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section id="about">
            <article class="grid">
                <div class="columns large-12">
                    <h2 class="align-center">Volarre Mentorship Framework</h2>
                    <figure class="slides">
                        <img src="assets/img/assets/laptop.png" class="laptop" />
                        <div class="laptop-screen">
                            <ul class="slides-container">
                                <li>
                                    <img src="assets/img/screens/screen1.jpg" alt="">
                                </li>
                                <li>
                                    <img src="assets/img/screens/screen2.jpg" alt="">
                                </li>
                                <li>
                                    <img src="assets/img/screens/screen3.jpg" alt="">
                                </li>
                            </ul>
                        </div>
                        <nav class="slides-navigation">
                            <a href="#" class="next"><i class="icon-arrow-right2"></i></a>
                            <a href="#" class="prev"><i class="icon-arrow-left2"></i></a>
                        </nav>
                    </figure>
                    <div class="columns large-12">
                        <p>The Volarre system focuses on making mentoring fun and intuitive. We make sure that you are guided with helpful tutorials, videos and guides at each step of the mentoring process. You are prompted with questions to help kick things off and using the framework builds engagement throughout the relationship. To keep you on track - reminders are sent for key events, tasks, goals and meetings that you agree on with your mentor. Volarre takes the guess work out of mentoring and helps mentoring achieve broad organizational impact.</p>
                    </div>
                </div>
            </article>
        </section>
        <section id="approach">
            <article class="grid">
                <div class="columns large-12">
                    <img src="{{ site.assets.icons }}airplane.png" class="center" />
                    <h2 class="align-center">The Mentorship Flight</h2>
                    <figure class=placeholder>
                        <div class="table">
                            <div class="inner">
                                <h4>Volarre means <strong>to fly</strong> &amp; <strong>flight</strong> is the metaphor we use to describe mentorship</h4>
                            </div>
                        </div>
                    </figure>
                    <div class="columns large-12">
                            <p> Our approach to mentoring is very much like taking a flight. There are two key people involved - the mentor (pilot) and protégé (co-pilot). They work together to get to a specific objective and usually have various stops along the way. The Volarre system guides and builds the relationship all along the way, just like air traffic control. There's also constant help and guidance available, just like a friendly steward. 

                            <p>Flight is fun, exciting and something we all understand. Using this metaphor conveys the complexity of mentorship in an easy and relaxed way. The Volarre system builds on this and focuses on making the mentoring relationship fun, intuitive and impactufl.</p>
                    </div>
                </div>
            </article>
        </section>

        <section id="team">
            <article class="grid">
                <div class="columns large-12">
                    <h2 class="align-center">Meet Our Team</h2>
                    <div class="columns large-12">
                            <p>
                            We are a team of designers, developers and eLearning professionals and are building the mentoring platform that we would have wanted to be able to use in the previous eLearning systems we have built. Having built and scaled large eLearning platforms for international organizations, we know what it takes to develop and deploy large eLearning systems. 
                    </div>
                </div>
                <div class="team-member">
                    <div class="profile">
                        <img class="image-container" alt="Nicholas Kingston" src="assets/img/profile/profile-nk.jpg" />
                        <h4 class="team">Nicholas Kingston</h4>
                        <h5 class="title">Managing Director</h5>
                        <ul class="social">
                            <li class="tw"><a href="http://www.twitter.com/nickingston"><i class="icon-twitter"></i></a></li>
                            <li class="in"><a href="http://www.linkedin.com/in/nickingston"><i class="icon-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="team-member">
                    <div class="profile">
                        <img class="image-container" alt="Scott Schaffter" src="assets/img/profile/profile-ss.jpg" />
                        <h4 class="team">Scott Schaffter</h4>
                        <h5 class="title">Managing Director</h5>
                        <ul class="social">
                            <li class="tw"><a href="http://www.twitter.com/sschafft"><i class="icon-twitter"></i></a></li>
                            <li class="in"><a href="http://www.linkedin.com/in/sschafft"><i class="icon-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="team-member">
                    <div class="profile">
                        <img class="image-container" alt="Jay Perry" src="assets/img/profile/profile-jp.jpg" />
                        <h4 class="team">Jay Perry</h4>
                        <h5 class="title">Design Lead</h5>
                        <ul class="social">
                            <li class="tw"><a href="http://www.twitter.com/inkpixelsrust"><i class="icon-twitter"></i></a></li>
                            <li class="in"><a href="https://www.linkedin.com/pub/jay-perry/5/59b/536"><i class="icon-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="team-member">
                    <div class="profile">
                        <img class="image-container" alt="Nigel Paine" src="assets/img/profile/profile-np.jpg" />
                        <h4 class="team">Nigel Paine</h4>
                        <h5 class="title">Learning Lead</h5>
                        <ul class="social">
                            <li class="tw"><a href="http://www.twitter.com/ebase"><i class="icon-twitter"></i></a></li>
                            <li class="in"><a href="uk.linkedin.com/in/nigelpaine"><i class="icon-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="team-member">
                    <div class="profile">
                        <img class="image-container" src="assets/img/profile/profile-as.jpg" alt="Arsham Skrenes" />
                        <h4 class="team">Arsham Skrenes</h4>
                        <h5 class="title">Systems Lead</h5>
                        <ul class="social">
                            <li class="tw"><a href="http://www.twitter.com/skrenes"><i class="icon-twitter"></i></a></li>
                            <!--<li class="in"><a href="http://www.linkedin.com/in/"><i class="icon-linkedin"></i></a></li>-->
                        </ul>
                    </div>
                </div>
            </article>
        </section>

      <div id="contact" class="typeform-widget" data-url="https://volarre.typeform.com/to/ryw7UL" data-text="Volarre Interest" style="width:100%;height:500px;"></div>

    </main>

</body>
</html>