// Hero
// --------------------------------------------------------------------------

#hero {
    display: block;
    width: 100%;
    background: url(../img/assets/hero.jpg) no-repeat center center;
    .background-size();
    font-weight: @paper;
    h1, h3, button {
        display: block;
        text-align: left !important;
        color: @color-white--light;
        font-weight: 300;
    }
}