#services{padding-top:3em}#services h2{text-align:center;color:red}#services .services-icon{width:200px;padding:2em 1em;margin-left:auto;margin-right:auto;display:block}#services p{text-align:justify;font-size:1em}
/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
